<h1 class="cover-heading">Site em manutenção.</h1>
<p class="lead">No momento o site da "ECO AR", está em manutenção, agradecemos a sua paciência.</p>
<p class="lead">
  <!-- <a href="#" class="btn btn-lg btn-default">Saiba mais</a> -->
</p>

<div class="row">
  <!-- Boxes de Acoes -->
  <div class="col-xs-12 col-sm-6 col-lg-6">
    <div class="box">             
      <div class="icon">
        <div class="image"><i class="fa fa-mobile"></i></div>
        <div class="info">
          <h3 class="title">Celular</h3>
          <p>
            <address>
              <strong>Cel.</strong><br>
              <abbr title="Phone">Fone:</abbr> (11) 98485-4542<br/>
            </address>
            <address>
              <strong>E-mail</strong><br>
              <a href="mailto:#">ecoar@ecoarla.com.br</a>
            </address>
          </p>
          <!--
          <div class="more">
            <a href="#" title="Title Link">
              Read More <i class="fa fa-angle-double-right"></i>
            </a>
          </div>
          -->
        </div>
      </div>
      <div class="space"></div>
    </div> 
  </div>
      
  <div class="col-xs-12 col-sm-6 col-lg-6">
    <div class="box">             
        <div class="icon">
          <div class="image"><i class="fa fa-phone"></i></div>
          <div class="info">
            <h3 class="title">Contato</h3>
            <p>
              <address>
                <strong>Telefone.</strong><br>
                <abbr title="Phone">Fone:</abbr> (14) 3354-3706<br/>
                <abbr title="Phone">Fone:</abbr> (14) 3354-3708
              </address>
              <address>
                <strong>E-mail</strong><br>
                <a href="mailto:#">eco-ar@hotmail.com</a>
                <br/>
                <a href="mailto:#">eco-ar-truck@hotmail.com</a>
              </address>
            </p>
            <!--
            <div class="more">
              <a href="#" title="Title Link">
                Read More <i class="fa fa-angle-double-right"></i>
              </a>
            </div>
            -->
          </div>
        </div>
        <div class="space"></div>
      </div> 
    </div> 
    <!-- /Boxes de Acoes -->
  </div>
</div>